body {
    background: peachpuff;
}

.header {
    display: flex;
    margin: 50px;
    margin-left: 45vw;
}

.resultScreen {
    background-color: white;
    border: 2px solid black;
    height: 20px;
    width: 285px;
    margin-left: 41vw;
    margin-right: 30vw;
    padding: 20px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.secondNumber {
    font-size: small;
}

.firstNumber {
    font-size: medium;
    font-weight: bold;
}

.buttons1, .buttons2, .buttons3, .buttons4, .buttons5{
    display: flex;
    justify-content: center;
}

.buttons1 {
    margin-top: 20px;
}

.number, .operator, .equate, .decimal, .cancel, .backspace {
    width: 80px;
    height: 80px;
    font-weight: bolder;
    font-size: large;
}